.checked{
  color: orange;
}

input[type=text], select{
 width: 80%;
 padding: 12px 20px;
 margin: 8px 30px;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}
input[type=submit]{
  margin: 8px 128px;
}
#detail4{
  display:none;
}
#detail5{
  display:none;
}
#detail6{
  display:none;
}
